<input id="total" type="hidden" value="<%= credit %>"/>

<div class="row">
	<div class="col s12">
		<h1>Transferir créditos</h1>
		<p>Usted tiene §<%= Number.parseFloat(credit).toFixed(2) %> Transfiera sus créditos a otro usuario de Apretaste.</p>

		<div class="row">
			<div class="input-field col s12">
				<input id="username" type="text"/>
				<label for="username">Inserte el @username o email</label>
			</div>

			<div class="input-field col s12">
				<input id="amount" type="text" inputmode="numeric"/>
				<input id="amount-dot" type="hidden">
				<label for="amount">Inserte la cantidad a transferir</label>
			</div>

			<div class="input-field col s12">
				<textarea id="reason" class="materialize-textarea" maxlength="50"></textarea>
				<label for="reason">¿Cuál es la razón de su transferencia?</label>
			</div>

			<div class="input-field col s12">
				<a class="btn green" href="#!" onclick="openModal()">Transferir</a>
			</div>
		</div>
	</div>
</div>

<!-- BACK -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large green" href="#!" onclick="apretaste.send({command:'CREDITO'})">
		<i class="material-icons">arrow_back</i>
	</a>
</div>

<div id="transferModal" class="modal">
	<div class="modal-content">
		<p>¿Esta seguro de transferir §<span id="modalAmount"></span> al usuario @<span id="modalUsername"></span>? Esta acción es irrevocable.</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
		<a onclick="transfer()" class="modal-close waves-effect waves-red btn-flat red-text">Transferir</a>
	</div>
</div>
