<div class="row">
	<div class="col s12">
		<h1>¿Cómo obtener créditos?</h1>
		<p>Puedes obtener créditos de Apretaste (§) de las siguientes formas:</p>

		<h2><small>1.</small> Invitando amigos</h2>
		<p>Invita a tus amigos y familiares a usar la app y tanto tú como ellos ganarán créditos. Encuentra el link a invitar en el menú de la izquierda.</p>

		<h2><small>2.</small> Respondiendo encuestas</h2>
		<p>En Apretaste se ofrecen encuestas, y cada una de ellas ofrece diferentes premios en crédito al completarlas. Accede al servicio Encuesta para ver la lista de encuestas activas.</p>

		<h2><small>3.</small> Cumpliendo retos</h2>
		<p>Cada día salen nuevos retos que te ayudan a ganar créditos. Abre los retos desde el menú a la izquierda y empieza a trabajar en ellos.</p>

		<h2><small>4.</small> Ganando concursos</h2>
		<p>En Apretaste tenemos concursos con premios que van desde teléfonos y recargas Cubacel hasta crédito. Revisa los concursos activos y empieza a ganar.</p>
	</div>
</div>

<div class="bottom-space"></div>

<!-- GO BACK -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'CREDITO'})"><i class="material-icons">arrow_back</i></a>
</div>