<div class="row">
	<div class="col s12">
		<h1>Transferir créditos</h1>
		<p>Usted tiene §<%= Number.parseFloat(credit).toFixed(2) %> Transfiera sus créditos a otro usuario de Apretaste.</p>

		<div class="row">
			<div class="input-field col s12">
				<input id="username" type="text"/>
				<label for="username">Inserte el @username o email</label>
			</div>

			<div class="input-field col s12">
				<input id="amount" type="text" inputmode="numeric"/>
				<input id="amount-dot" type="hidden">
				<label for="amount">Inserte la cantidad a transferir</label>
			</div>
		</div>

        <!-- TRANSFER BUTTON -->
		<div class="fixed-action-btn">
			<a class="btn-floating btn-large green" href="#!" onclick="transferCredits(credit)">
				<i class="material-icons">swap_vert</i>
			</a>
		</div>
	</div>
</div>